<div class=row>
  <div class="col-md-4">

    <!--userプロフィール-->
    <%= render "users/profile", user:@user %>

    <!--newbook-->
    <%= render "books/new", book:@book %>
  </div>

  <div class="col-md-7 ml-auto">
    <h2>Books</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <%= render @books %>
    </table>
  </div>
</div>
