<div class=row>
  <div class="col-md-4">
    
    <!--userプロフィール-->
    <%= render "users/profile", user:@user %>
    
    <!--newbook-->
    <%= render "books/new", book:@book %>
  </div>
  
  <div class="col-md-7 ml-auto">
    <h2>Book detail</h2>
    <table class="table table-white">
      <%= render @book %>
    </table>
  </div>
  
</div>
    