<div class="row">
  <div class="col-md-8 mx-auto">
    <h1 class="text text-center">welcome to <i class="fas fa-book-dead"></i><span class="text-bord">Bookers</span>!!</h1>
  
    <p>In <i class="fas fa-book"></i><span>Bookers</span>, </p>
    <p>you canshare and exchange your opinions , inpressions , and emotions,</p>
    <p>about various books!</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= link_to "Log in" ,new_user_session_path ,class:"btn btn-info btn-block "%>
    <%= link_to "Sign up" ,new_user_registration_path ,class:"btn btn-success btn-block "%>
  </div>
</div>

